footer{
    text-align: center;
    padding: 40px;
    background-color: black;
    border-top: 3px solid var(--salmon);
}

.logo{
    width: 20%;
}

.logo:hover{
    filter: drop-shadow(5px 5px 4px var(--salmon));
    transform:scale(1.10);
}